@(user: models.users.User)
@main("Contact",user){

<h1>Contact Us!</h1>
<br>

<h4><b>Customer support can be reached at these available times:</b></h4>

<p>Monday: 8am - 6pm
<br>
Tuesday: 8am - 6pm
<br>
Wednseday: 8am - 6pm
<br>
Thursday: 8am - 6pm
<br>
Friday: 8am - 4pm
<br>
Saturday: 8am - 6pm
<br>
Sunday: 8am - 4pm
</p>
<br>

<h4><b>Email Us</b></h4>
<p>
    Email: "managerproductscom" for Manager assistace on Product enquiries
    <br>
    Email: "adminproductscom" for Administration assistace on Account enquiries
</p>

}	