@(userForm: Form[models.users.Customer], user: models.users.User)

@import models.users.Login

@import helper._
@main("Sign Up",user){
  <p class="lead"></p>

  @* Display error message from flash, if it is set *@
@if(flash.containsKey("error")) {
  <div class="alert alert-success">
    @flash.get("error")
  </div>
}

  @form(action=controllers.security.routes.LoginCtrl.signupSubmit(), 'class -> "form-horizontal", 'role -> "form") {
      @* CSRF attack prevention *@
      @* This token, sent by the controller, will be used to authenticate the form submission *@
      @CSRF.formField

     
<!--       <img src="https://wallpapertag.com/wallpaper/full/9/6/e/138252-4k-abstract-wallpaper-2560x1600-for-iphone-6.jpg" id="bg" alt="Image">
 -->      
<style>
/* #bg{
  background:url("https://wallpapertag.com/wallpaper/full/9/6/e/138252-4k-abstract-wallpaper-2560x1600-for-iphone-6.jpg") no-repeat;
  width:auto;
  margin: auto;
}
#sig{
  border:2px solid white;
  padding:60px 40px;
  margin-top: 80px;
}
img{
  width:auto;
  margin: auto;
}
  *{
    color:red;
  }

.box{
  width: 40%;
  top: 10%;
  left: 30%;
  position: absolute;
  float: left;
  background-color: none;
  text-align: center;
  color:black;
  border: 1px solid #3498db;
  border-radius: 3em;
}
.box h1{
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 2px solid black;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: black;
}
.box input[type = "submit"],.box input[type = "button"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid black;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover,.box input[type = "button"]:hover{
  background: #2ecc71;
}

.hide{
  display: none;
} */

.container{
 width: 130%;
 min-height: 100vh;
 background-image: linear-gradient(170deg, #B621fe, #1fd1f9);
 display: -webkit-box;
 display: -webkit-flex;
 display: -moz-box;
 display: -moz-flexbox;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 padding: 15px;
 z-index: 1;
}

.box{
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.15);

}

</style>
<body>
<form id="sig">
  <div class="container">
      <div class="box">

        <h1>Register</h1>
 
                 @inputText(userForm("email"), '_label -> "",
                 'class -> "input", 'placeholder -> "Email")
             
                 @inputText(userForm("name"), '_label -> "",
                 'class -> "input", 'placeholder -> "Username")
            
                 @inputPassword(userForm("password"), '_label -> "",
                 'class -> "input", 'placeholder -> "Password")
            


                 @inputText(userForm("role").copy(value=Some("customer")), '_label -> "", 'class -> "hide", 'hidden -> "hidden")

     
      <input type="submit" value="Sign up" class="btn"/>
             
             <input type="button" value="Cancel" class="btn"
             onclick="window.location.href = '@controllers.security.routes.LoginCtrl.signup()';">
             
         </div> 
        </div>
        </form>
      </body>
      }
    }
    
