@(customer: models.users.Customer)


@import play.api.Play.current
@import models.shopping._
@import models.products._

<!-- Pass page title and user on to main -->
@main("View Order history", customer) {


	<div class="col-md-12">
		@if(flash.containsKey("success")) {
			  <div class="alert alert-success">
			      @flash.get("success")
			  </div>
		} 

		
               
                    <!-- Start of For loop - For each p in products add a row -->
                    @for(o <- customer.getOrders()) {

                        <p>Order Number: @o.getId()</p>
                        <p>Order Date: @o.getOrderDateString()</p>
                        <table class="table table-bordered table-hover table-condensed">
                        
                            <thead>
                            <!-- The header row-->
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                        @for(i <- o.getItems()) {

                        <tr>
                        <td>@i.getId</td>
                        <td>@i.getProduct.getName()</td>
                        <td>@i.getQuantity()</td>
                        <td>&euro; @("%.2f".format(i.getPrice()))</td>
                        <td>&euro; @("%.2f".format(i.getItemTotal))</td>
                        
                    </tr>
                    }<!-- End of For loop -->
                    
			</tbody>
        </table>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center"><strong>Order Total: &euro; @("%.2f".format(o.getOrderTotal))</strong></p>
            </div>  
        </div>
<style>
.button1{
    background-color: rgb(226, 13, 13);
}
</style>
        <div class="row">
            <div class="col-md-12">
        <p class="text-center">
            <a href="@routes.ShoppingCtrl.cancelOrder(o.getId())">
              <button class="btn btn-warning button1">Cancel Order</button>
            </a>
          </p>
        </div>  
    </div>
         }<!-- End of For loop -->
       
        </div>
        <div class="col-md-15">
            <p class="text-center">
                <a href="@routes.ProductCtrl.listProducts(0)" class="btn btn-success">
                <span class="glyphicon glyphicon-hand-left"></span> Continue Shopping</a>
            </p>
        </div> 
        <div class="col-md-15">
            <p class="text-center">
                <a href="@routes.ShoppingCtrl.showBasket" class="btn btn-primary">
                <span class="glyphicon glyphicon-shopping-cart"></span> View Basket</a>
            </p>
        </div> 


}